html {
    background-color: #ecf0f5;
}

.control-sidebar{
    width: 250px;
    right: -250px;
}

.buttonIcon {
    font-size: 15px;
    margin-right: 10px;
}

.pl-0 {
    padding-left: 0;
}

.buttonTxt {
    font-size: 15px;
    font-weight: bold;
}